.btn {
  padding: 5px 20px;
  @include light-box-shadow();
  background-color: $primary-btn;
  color: white;
}

button.btn.active{
  background-color: $active-btn;
  color: white;
  border-color: $active-btn;
}

button.btn.active:focus{
  color: white;
  outline: none;
}

.btn.delete{
  background-color: $primary-failure;
  color: white;
  border-color:$primary-failure;
}

.btn.complete{
  background-color: $primary-success;
  border-color: $primary-success;
  color:white;
}

.btn.edit{
  background-color: $primary-warning;
  border-color:$primary-warning;
}

.btn-group{
  margin: 0 5px;
}