// Buttons
$primary-btn: #137B67;
$active-btn: #094F41;

// #00A8C6, #1A7D86
// NICE BLUE: #226FCB;

// Most Important
$primary: #1ABC9C;


// Indicators
$primary-success: #1ABC9C;
$primary-failure: #CC333F;
$primary-warning: #FBDB57;

// Others
$primary-background: white;
$primary-border: #1F1A1E;
$app-background: #2FA2B4;
$highlight: #FFD700;