@import '../other/colours'; 

.btn {
  padding: 5px 20px;
}

.btn.active{
  background-color: $primary;
  color: white;
}

.btn.primary{
  background-color: $primary;
  color: white;
}

.btn.delete{
  background-color: $primary-failure;
  color: white;
}

.btn.complete{
  background-color: $primary-success;
  color:white;
}

.btn.edit{
  background-color: $primary-warning;
}

.btn-group{
  margin: 0 5px;
}