@import 'colours'; 

.btn {
  padding: 5px 20px;
}

.btn.active{
  background-color: $primary;
  color: white;
}

.btn.primary{
  background-color: $primary;
  color: white;
}

.btn.delete{
  padding-left: 2px;
  padding-right: 2px;
  background-color: $primary-failure;
  color: white;
}

.btn-group{
  margin: 0 5px;
}