@import '../other/colours';

.calendar-container {
  border: 1px solid black;
}

.month-year-container{
  border: 1px solid red;
  background-color: $primary;
  color: white;
}

.month-year-container .month-year{
  text-align: center;
  padding: 40px 0;
}

.day-container{
  border: 1px solid blue;
  background-color: #DDDDDD;
}

.day-container .day-name{
  width: 13.6%;
  text-align: center;
  display:inline-block;
  padding: 10px 0;
}

.day-container .day-names{
  padding: 10px 0;
  background-color: white;
}

.day-container .day{
  text-align: center;
  display:inline-block;
  width: 13.6%;
  padding: 10px 0;
}