@import '../other/colours';

.month-year-container{
  background-color: $primary;
  color: white;
  padding: 40px 0;
}

.month-year-container .month-year{
  text-align: center;
  width: 50%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}

.month-year-container span {
  font-size: 20px;
}

.month-year-container .month-action{
  width: 25%;
  display:inline-block;
}

.month-year-container .month-action:nth-child(3) {
  text-align: right;
}

.month-year-container .month-action .action:hover{
  color: black;
  cursor:pointer;
}

.day-container{
  background-color: #DDDDDD;
}

.day-container .day-name{
  width: 13.6%;
  text-align: center;
  display:inline-block;
  padding: 10px 0;
}

.day-container .day-names{
  padding: 10px 0;
  background-color: white;
}

.day-container .day{
  text-align: center;
  display:inline-block;
  width: 13.6%;
  padding: 10px 0;
  position: relative;
}

.day-container .day .count{
  position: absolute;
  right: 20px;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 10px;
  top: 2px;
}

.day-container .today{
  background-color: $primary-warning;
  font-weight: bold;
}