@import '../other/main';

.page-head {
  text-align: center;
  margin-top: 10px;
  font-family: "angelique-rose";
  background-color: $primary;
  margin-bottom: 15px;
}

.page-head h1{
  font-size: 48px;
  color: white;
}

.page-head:before{
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  left: 0;
  top: -0.6px;
  border: 44px solid white;
  border-right: 30px solid transparent;
}

.page-head:after{
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  right: 0;
  top: -0.6px;
  border: 44px solid white;
  border-left: 30px solid transparent;
}