@import '../other/main';
.item {
  margin: 10px 0;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.item.complete {
  text-decoration: line-through;
}

.item > span {
  margin-right: 10px;
}

.item .actions:not(.mobile-only) {
  float: right;
  @media (max-width: $size-xs-max){
    display: none;
  }
}

.item .actions.mobile-only{
  float: right;
}

.item .mobile-only {
  @include hide-not-mobile();
}
.item form {
  @media (min-width: 768px){
    display: inline-block;
  }
}
