.list .item-container{
  border: 2px solid gray;
  min-height: 500px;
  padding-top: 5px;
}

.list .options-container{
  border: 2px solid gray;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}