.pagination .pages {
  display: inline-block;
  border: 1px solid;
  padding: 4px 10px;
  float: right;
  min-width: 30px;
}

.pagination .items-per-page{
  display: inline;
  margin-left: 20px;
}

.pagination .items-per-page label {
  margin-right: 5px;
}