.pagination .pages {
  display: inline-block;
  border: 1px solid;
  padding: 4px 10px;
  float: right;
  max-width: 30px;
  width: 30px;
}

.pagination .items-per-page{
  display: inline;
  margin-left: 20px;
}

.pagination .items-per-page label {
  margin-right: 5px;
}

.pagination .prev, .pagination .next {
  font-size: 14px;
}

.pagination .pages span {
  right: 2px;
}