@font-face {
  font-family: 'libel-suit';
  src: url('/public/fonts/libel-suit-rg.eot');
  src: url('/public/fonts/libel-suit-rg.eot?#iefix') format('embedded-opentype'),
       url('/public/fonts/libel-suit-rg.woff2') format('woff2'),
       url('/public/fonts/libel-suit-rg.woff') format('woff'),
       url('/public/fonts/libel-suit-rg.ttf') format('truetype'),
       url('/public/fonts/libel-suit-rg.svg#libel-suit') format('svg');
  font-weight: normal;
  font-style: normal;
}