@font-face {
  font-family: 'libel-suit';
  src: url('libel-suit.eot');
  src: url('libel-suit.eot?#iefix') format('embedded-opentype'),
       url('libel-suit.woff2') format('woff2'),
       url('libel-suit.woff') format('woff'),
       url('libel-suit.ttf') format('truetype'),
       url('libel-suit.svg#libel-suit') format('svg');
  font-weight: normal;
  font-style: normal;
}